{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}


{% block content %}
	<article>
		<header>
			<h1>Welcome</h1>
			<p>Thermos is a simple social bookmarking site.
		</header>
		<section>
			<h2>Recently Added<h2/>
			{% if new_bookmarks %}
			   <ul>
			    {% for bm in new_bookmarks %}
			       <li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
			    {% endfor %}   
		 	   </ul>
			   {% else %}
			   no boookmarks yet.
			   {% endif %}
			</section>

		<section>
		    <h2> article section h2</h2>
		    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna
		</section>
	       <section>
		  <h2>article section h2</h2>
	          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna
	   </section>
   </article>	   
{% endblock %}

